/*
==================================
min-width: 1100px
==================================
*/

@media(min-width:1100px) {
    .top-bar a {
        padding: .9rem;
        font-size: .9rem;
    }

    .top-bar {
        font-size: .9rem;
    }

    .container {
        width: 80%;
        margin: auto;
    }

    .contents-contact-details {
        flex: 3;
    }

    .register-login {
        flex: 1;
    }

    .register-login>a {
        box-sizing: border-box;
        padding: .9rem 1.3rem;
        margin-left: 0;
    }

    .contents-contact-details>li>p {
        display: inline-block;
        padding: .9rem;
    }

    .navigation {
        margin-top: 1.5%;
    }

    .navigation>ul>li>a {      
        font-size: .9rem;
    }

    .on-image-text {
        top: 30%;
        left: 30%;
    }

    .start-tour {
        top: 55%;
        left: 45%;
    }

    .heading {
        font-size: 3rem;
    }

    .text {
        font-size: 2rem;
    }
    .container-box {
        width: 96%;
        margin: auto;
    }

    .two-boxes {
        width: 49.8%;
        justify-content: space-around;
    }

    .box {
        width: 48%;
    }

    .qualities {
        justify-content: space-around;
    }

    .two-asides {
        width: 80%;
        margin:auto;
        margin-top: 3%;
    }

    .left-aside {
        width:50%;
    }

    .right-aside {
        width: 48%;
    }

    .img1>img {
        width: 90%;
    }

    .read-more {
        margin-top: 1rem;
    }

    .heading-aside-two {
        font-size: 2.5rem;
    }

    .right-aside>* {
    padding: 0 0 .5rem 0;
    }

    .right-aside>h3 {
        margin-bottom: 1rem;
    }

    .right-aside>p {
        margin-bottom: .5rem;

    }

    .right-aside>a {
        margin-left: 10%;
    }

    .package-heading-p {
        font-size: 3rem;
    }

    .heading-popular-destinations {
        width: 100%;
    }

    .heading-popular-destinations>h2 {
        font-size: 3rem;
    }

    .heading-bottom-slider {
        font-size: 3rem;
    }

    .text-bottom-slider {
        font-size: 2.5rem;
    }

    
    .join {
        flex: 2;
    }

    .input-msg {
        flex:3;
    }

    .join {
        flex: 2;
    }

    .input-mail {
        flex: 3;
    }

    .mail-place {
        width: 60%;
        vertical-align: top;
    }

    .button-submit {
        width: 30%;
        height: 3.1rem !important;
        margin-left: -2rem;
        vertical-align: top;
    }

    .footer-sec-1 {
        flex-direction: row;
        justify-content: space-between;
    }

    .first-part {
        flex-direction: row;
        justify-content: space-between;
        width: 48%;
    }

    .second-part {
        justify-content: space-between;
        flex-direction: row;
        width: 50%;
    }

    .item-1, .item-2 {
        width: 49%;
    }

    .item-3 {
        width: 48%;
    }

    .item-4 {
        width: 50%;
    }
    .message-image {
        margin: 3.5rem !important;
    }

    .submit-footer-div {
        right: 6.5% !important;
    }

    
}









/*
==================================
max-width: 1100px
==================================
*/

 @media(max-width:1100px) {
    .top-bar {
        font-size: .8rem;
    }
    
    .container {
        width: 90%;
        margin: auto;
    }

    .top-bar a, .top-bar p {
        padding: .7rem;
    }

    .ml-auto {
        margin-left: auto;
    }

    .contents-contact-details {
        flex: 3;
    }

    .register-login {
        flex: 1;
    }

    .navigation {
        margin-top: .5rem;
    }

    .navigation>ul>li>a {
        font-size: .8rem;
    }

    .on-image-text {
        top: 30%;
        left: 25%;
    }

    .start-tour {
        top: 57%;
        left: 47%;
    }

    
    .heading {
        font-size: 2rem;
    }

    .text {
        font-size: 1.5rem;
    }

    .qualities {
        flex-direction: column;
    }

    .two-boxes {
        width: 96%;
        margin:auto;
        margin-top: .5rem;
        justify-content: space-around;
    }

    .box {
        width: 49%;
    }

    .two-asides {
        flex-direction: column;
        margin-top: 5%;
    }

    .back, .img1 {
        width: 95%; 
    }
    .aside {
        width: 100%;
        margin:auto;
    }

    .img1>img {
        width: 95%;
        margin-left: 2%;
    }

    .right-aside {
        margin-top: 5rem;
    }

    .img2 {
        top: 10% !important;
        left: 10% !important;
    }

    .heading-aside-two {
        font-size: 2rem;
    }

    .right-aside>* {
        padding: .5rem 2rem;
    }

    .read-more {
        margin: 1rem 0 0 2rem;
    }

    .package {
        margin-top: 0;
    }

    .package-heading-p {
        font-size: 2rem;
    }

    .package-item {
        width: 48% !important;
    }

    .packages-one {
        display: none;
    }

    .heading-bottom-slider {
        font-size: 2.5rem;
    }

    .text-bottom-slider {
        font-size: 2rem;
    }

    .container-content {
        flex-direction: column;
        align-items: center;
    }

    .join>h2 {
        font-size: 1.6rem;
    }
    
    .button-submit {
        float: right;
        width: 30% !important;
    }
    
    .footer-sec-1 {
        flex-direction: column;
        justify-content: space-around;
        width: 96%;
        margin-left: 2%;
    }

    .first-part {
        border-bottom: 1px solid gray;
    }

    .first-part, .second-part {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .headings-bottom {
        font-size: 1.5rem;
    }

    .submit-footer-div {
        right: 8.3% !important;
    }
    
}