/*
==================================
max-width: 700px
==================================
*/

@media(max-width:700px) {
    .top-bar {
        text-align: center;
        font-size: 1rem !important;
    }

    .container {
        margin: 0 !important;
        width: 100% !important;
    }

    .top-bar a, .top-bar p {
        padding: .5rem;
    }

    .question-phone-email {
        flex-direction: column;
        width: 100% !important;
    }

    .contents-contact-details {
        flex-direction: column;
    }

    .register-login {
        width: 100% !important;
    }

    .register-login>a {
        width: 100% !important;
        box-sizing: border-box;
    }

    .nav {
        display: none;
        
    }

    .navigation {
        padding: 1% 4%;
        background-color:rgb(62, 61, 61);
    }
    .navigation>ul {
        display: block;
    }

    .nav-list>li {
        display: block;
    }
    
    .nav-list>li>a {
        padding: .3rem 0 .3rem 1rem;
        font-size: 1.1rem !important;
        display: block;
        color: 	#b3e7b4 !important;
    }

    .wrapper {
        display: block;
        position: relative;
    }

    .logo {
        width: 70%;
    }
    .logo>img {
        width: 100%;
    }

    .chkbx {
        top: 35px;
        right: 5%;
        position: absolute;
    }

    .chkbx:checked ~ .nav {
        display: block;
    }
    .hidden-chk {
        visibility: hidden;
    }

    .on-image-text {
        top: 20% !important;
        left: 10% !important;
    }

    .start-tour {
        top: 65% !important;
        left: 40% !important;
    }

    
    .heading {
        font-size: 1.7rem;
    }

    .text {
        font-size: 1.2rem;
    }

    .qualities {
        justify-content: flex-start;
    }
    
    .two-boxes {
        flex-direction: column;
    }

    .box {
        width: 99% !important;
        margin-top: .5rem;
    }

    .package-heading-p {
        font-size: 1.5rem !important;
    }

    .package-item {
        min-width: 90% !important;
    }

    .packages-one, .packages-two {
        display: none !important;
    }

    .popular-nav>ul {
        flex-direction: column;
        width: 80% !important;
        margin-left: 10% !important;
    }

    .popular-nav>ul>li {
        margin-top: .5rem;
    }

    .popular-nav>ul>li>a {
        width: 100%;
    }

    .division-images {
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
    }

    .content-popular-image {
        margin-top: 2rem;
    }

    .content-popular-image>img {
        width: 100%;
    }
    
    .heading-bottom-slider {
        font-size: 1.5rem !important;
    }

    .text-bottom-slider {
        font-size: 1rem !important;
    }

    .slider-bottom-text {
        top: 25%;
        left: 25%;
    }

    .book-now-bottom-slider {
        top:70%;
        left: 35%;
    }

    .content-items {
        flex-direction: column;
    }

    .partner-item {
        width: 90%;
        margin-left: 3%;
        margin-bottom: .5rem;
    }

    .join>h2 {
        font-size: 1.6rem;
    }

    .dropdown-menu {
        width: 100%;
        background-color:rgb(115, 111, 111);
        list-style-type: none;
        font-weight: bold;
        display: none;
    }

    .dropdown-menu>li>a {
        color: white !important;
        width: fit-content;
        border: none !important;
        display: block;
    }

    .first-part, .second-part {
        flex-direction: column !important;
    }

    .active-menu-item {
        border:none !important;
    }

    .menu-item, .drop-down-menu-item {
        transition: all;
        padding: 1rem 2rem 1rem 1rem !important;
        transition-duration: 1s;
        width: fit-content;
    }

    .menu-item:hover {
        margin-left: 1rem;
    }

    .fas-menu-item {
        margin-right: .5rem;
        display: inline-block;
    }

    .message-image {
        margin: 0 !important;
    }

    .first-part, .second-part {
        flex-direction: column;
        justify-content: space-around;
    }

    .headings-bottom {
        font-size: 1.5rem !important;
    }

    .footer-item {
        width: 100%;
    }

    .footer-item {
        border-bottom: 1px solid gray;
    }

    .item-4 {
        border: none !important;
    }

    .footer-part {
        border-bottom: 1px solid gray;
    }

    .copyright-info, .payments {
        display: block !important;
        float: none;
    }

    .pay-images {
        float: none;
    }

    .payment-heading {
        padding: .5rem;
    }

    .pay-images>a {
        padding: .5rem 0;
        margin-top: .3rem;
    }
    .package {
        margin-top: 0 !important;
    }

    .read-more-link {
        margin-top: 1rem !important;
    }

    .right-aside {
        margin-top: 5rem;
    }
}





/* Queries for desktop min-width:700 */
@media(min-width:700px) {
    .wrapper {
        width: 95%;
        margin: auto;
        display: flex;
    }

    .logo {
        flex: 1;
    }

    .nav {
        flex: 4;
    }

    .navigation {
        float: right;
    }

    .navigation>ul>li>a {
        padding: .9rem 1rem;
    }

    .chkbx {
        display: none;
    }

    .navigation>ul>li>a:hover {
        border-bottom:2px solid #001c58;
    }
    .popular-nav>ul {
        width: 50% !important;
        flex-direction: row;
        margin:2% 25% 0 25% !important;
    }

    .division-images {
        flex-direction: row;
        width: 90%;
        margin-left: 5%;
    }

    .content-popular-image {
        width: 24%;
    }

    .content-items {
        flex-direction: row;
        width: 94%;
        margin-left: 3%;
        justify-content: space-around;
    }

    .partner-item {
        width: 16%;
    }

    .container-content {
        flex-direction: row;
    }

    .mail-place, .input-mail>input {
        display: inline-block;   
    }

    .dropdown-menu {
	    position: absolute;
        left: -30%;
        top: 2.5rem;
        width: 200%;
        background-color: white;
	    z-index: 9999;
        list-style-type: none;
        font-weight: bold;
	    display: none;
    }

    .fas-menu-item {
        display: none;
    }

    .footer-sec-1 {
        border-bottom: 1px solid gray;
    }
}