@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito|PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Sarabun');
@import url('https://fonts.googleapis.com/css?family=Sarabun|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Sarabun');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(221, 217, 217);
}

body a{
    transition: all;
    transition-duration: 1s;
}

.this-is-link:hover{
    margin-left:1rem;
}

.top-bar {
    background-color:#fb6500;
    font-family: sans-serif;
    color: white;
    
}

.top-bar a {
    display:inline-block;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.question-phone-email {
    display: flex;
}

.contents-contact-details {
    display: flex;
    list-style-type: none;
}

.register-login>a, .right-aside>a {
    color: white;
    background-color: #001c58;
}

.register-login>a:hover, .right-aside>a:hover {
    background-color: #4fb4b1;
    color: black;
}

.fas1 {
    margin-right: .2rem;
    color: #001c58;
}

.container {
    text-align: center;
}

.nav-bar {
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgb(187, 185, 185);
}

.logo>a>img {
    width: 100%;
    padding: 1rem;
}

.navigation>ul {
    list-style-type: none;
    display: flex;
}

.active-menu-item {
    border-bottom: 2px solid #001c58 !important;
}
.navigation>ul>li>a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #001c58;
    font-family: 'Open Sans', sans-serif;
}

.slider {
    position: relative;
    width: 100%;
    height: 30%;
}

.slider-image {
    width: 100%;
    height: 100%;
}

.on-image-text {
    position: absolute;
}

.start-tour {
    position: absolute;
}

.heading {
    color:white;
    text-align: center;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.text {
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.start-tour>a, .right-aside>a {
    text-decoration: none;
    padding: .7rem 1rem;
    background-color: #001c58;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

.start-tour>a:hover {
    background-color: #4fb4b1;
    color: black;
}

.why {
    width: 80%;
    height: 65px;
    margin-left: 10%;
    margin-top: 1rem;
    text-align: center;
}

.why>p {
    font-size: 2rem;
    padding: .5rem;
    color: #001c58;
    font-family: 'Open Sans', sans-serif;
}

.box {
    background-color: rgb(243, 237, 237);
    box-shadow: 0 0 8px rgb(110, 108, 108);
}
.box-contents {
    padding: .7rem;
    font-family: 'Nunito', sans-serif;
}

.box-contents>p, .heading-boxes, .box-contents>a {
    text-align: center;
    margin-top: 1.2rem;
    color: rgb(49, 48, 48);
}

.fas {
    margin-left: .4rem;
}

.box-contents>a {
    display: block;
    text-decoration: none;  
}
.box:hover {
    box-shadow: 0 0 8px rgb(54, 53, 53);
}
.box:hover .effect {
    color:#fb6500;
}

.qualities {
    display: flex;
}

.two-boxes {
    display:flex;
}

.two-asides {
    display: flex;
    justify-content: space-around;
}

.left-aside {
    position: relative;
}

.img2>img {
    width: 95%;
}

.img-div>img {
    border: 5px solid white;
}

.img2 {
    position: absolute;
    top: 10%;
    left: 10%;
}

.slider-image {
    animation-name: backgroundchange;
    animation-duration: 30s;
    height: 100%;
    animation-iteration-count: 5;
    
}

.hidden {
    visibility: hidden;
    width: 100%;
}

@keyframes backgroundchange {
    0% {
        background-image: url(../Images/slider/slider1.jpeg);
        background-size: cover;
    }

    20% {
        background-image: url(../Images/slider/slider2.jpeg);
        background-size: cover;
    }

    40% {
        background-image: url(../Images/slider/slider3.jpeg);
        background-size: cover;
    }

    60% {
        background-image: url(../Images/slider/slider4.jpeg);
        background-size: cover;
    }
    80% {
        background-image: url(../Images/slider/slider5.jpeg);
        background-size: cover;
    }

}

.heading-aside-two {
    font-family: 'Sarabun', sans-serif;
}

.right-aside>p {
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
} 

.right-aside>a {
    display: inline-block;
}

.right-aside>a:hover {
    margin-left: 5rem;
}

.text-para-one {
    font-size: 1.1rem;
}

.text-para-two {
    font-size: .9rem;
}

.packages {
    background-image: url('../Images/packages/bg.jpeg');    
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5rem;
}

.packages-container {
    background-color: rgba(0, 0, 0, .4);
    height: 100%;
    width: 100%;
}

.package-heading {
    margin: 2rem 0 1.5rem 0;
}

.package-heading-p {
    text-align: center;
    padding: 1rem 0;
    color: white;
    font-family: 'Sarabun', sans-serif;
}

.packages-child {
    display: flex;
    width: 80%;
    margin: 0 10% 0 10%;
    justify-content: space-around;
}

.packages-child>div {
    height: 500px;
    width:  30%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 5rem;
}

.child {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    
}

.child-pckg {
    overflow: hidden;
}

.child1 {
    background-image:url('../Images/packages/p1.jpeg');
}

.child2 {
    background-image:url('../Images/packages/p2.jpeg');
}

.child3 {
    background-image:url('../Images/packages/p3.jpeg');
}
.child  {
    transition: all;
    transition-duration: 2s;
}

.package-item:hover .child, .package-item:focus .child {
    transform:scale(1.2)
}

.nav-bar {
position:sticky; 
top:0; 
z-index: 999;
}

.below-image-text {
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.below-image-text>div>h3, .below-image-text>div>p {
    color: rgb(52, 51, 51);
    padding: .7rem .4rem;
    margin-left: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.ratings {
    border-top: 1.5px solid #001c58;
    margin-top: .8rem;
}

.ratings>p {
    color: goldenrod !important;
}

.package-item:hover .font-awesome-stars {
    display: none;
}

.ratings {
    position: relative;
}
.book-now {
    position: absolute;
    background-color: #001c58;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: .7rem .4rem;
    font-family: 'Open Sans', sans-serif;
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    top:0;
    left: 0;
}

.book-now:hover {
    color: black;
    background-color: #fb6500;
    margin: 0 !important;
}

.package-item:hover .book-now {
    display: block;
}

.popular-destinations {
        margin-top: 2rem;
}

.heading-popular-destinations>h2 {
    padding-bottom: .5rem;
    font-family: 'Sarabun', sans-serif;
    text-align: center;
}

.popular-nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.active-pop {
    background-color: #001c58 !important;
    color: white !important;
}

.popular-nav>ul>li>a {
    display: inline-block;
    padding: .7rem;
    border-radius: 4px;
    color: #001c58;
    text-decoration: none;
    background: rgb(177, 173, 173);
    font-family: 'Open Sans', sans-serif;
}

.popular-nav>ul>li>a:hover {
    background-color: #001c58;
    color: white;
}

.division-images {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.content-popular-image {
    border-radius: 5px;
    position: relative;
    height: 350px;
}

.content-popular-image>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.pop-text {
    position:absolute;
    bottom: 20%;
    color: rgb(6, 180, 255);
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    left: 15%;
}

.fas5 {
    margin-right: .4rem;
}

.content-popular-image {
    transition: all;
    transition-duration: 2s;
}

.pop-text, .book-now-popular {
    transition: all;
    transition-duration: 1s;
}
.book-now-popular {
    display: inline-block;
    background-color: #001c58;
    color: white;
    position: absolute;
    text-decoration: none;
    padding: .5rem 1rem;
    font-size: .9rem;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    display: none;
}


.book-now-popular:hover {
    color: black;
    background-color: #fb6500;
}

.content-popular-image:hover .pop-text{
    bottom: 40%;
}

.content-popular-image:hover .book-now-popular {
    display: inline-block;
    bottom: 15%;
    left: 10%;
}

.slider-bottom {
    margin-top: 2rem;
    position: relative;
    width: 100%
}

.slider-image-bottom {
    width: 100%;
}

.slider-image-bottom>img {
    width: 100%;
}

.slider-bottom-text {
    position: absolute;
    color: white;
}

.slider-bottom-text>p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.book-now-bottom-slider {
    position: absolute;
}

.book-now-bottom-slider>a {
    text-decoration: none;
    padding: .7rem 1rem;
    background-color: #001c58;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

.book-now-bottom-slider>a:hover {
    color: black;
    background-color: #fb6500;
}

.slider-bottom-text {
    top: 35%;
    left: 35%;
}

.book-now-bottom-slider {
    top:70%;
    left: 45%;
}

.experience {
    margin-top: 1rem;
}

.content-items {
    display: flex;
}

.partner-item {
    padding: .7rem;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: rgb(243, 237, 237);
    box-shadow: 0 0 6px rgb(110, 108, 108);
    font-family: 'Nunito', sans-serif;
}

.partner-text {
    margin-top: 1rem;
}

.img-para {
    margin-top: 1rem;
}

.partner-item>p {
    text-align: center;
}

.partner-item:hover {
    box-shadow: 0 0 8px rgb(54, 53, 53);
}

.exp-h {
    font-size: 2.5rem;
    color: rgb(42, 41, 41);
    font-family: 'Nunito', sans-serif;
    margin: 3rem 0;
    padding: .3rem;
    text-align: center;
}

.footer-one {
    margin-top: 3rem;
    background-image: url(../Images/subs.jpg);
}

.container-content {
    display: flex;
    padding: 2.5rem 0;
}

.join {
    width: 96%;
    margin-left: 2%;
}

.join>h2 {
    font-size: 2rem;
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.input-mail {
    width: 90%;
}

.mail-place {
    width: 70%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: inline-block !important;
   
}

.mail-place>* {
    display: inline-block;
    padding: .5rem;
}

.mail-place>input {
    width: 75%;
    float: left;
    height: 1.2rem;
    font-size: 1.1rem;
    padding: .3rem auto 2rem 2rem;
    margin-top: .5rem;
    margin-left: .2rem;
    text-indent: .5rem;
    outline: none;
    border:none;
    
}

.button-submit {
    transition: all;
    transition-duration: 1.5s;
}

.button-submit {
    background-color: #001c58;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 25%;
    padding: .2rem;
    font-weight: 500;
    height: 3.05rem !important;
    font-size: 1.2rem;
    width: 20% !important;
    border: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

.mail-place {
    background-color: white;  
}

.button-submit:hover {
    color: black;
    background-color: #fb6500;
}
.message-img {
    padding-left: 0 !important;
}



/* ============================================================
Drop-down menu
   ============================================================ */
.dropdown {
	position: relative;
}

.dropdown-menu>li>a {
    font-size: .8rem;
    padding: .8rem 0;
    text-decoration: none;
    display: block;
    color: #001c58 !important;
    font-family: 'Open Sans', sans-serif;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.bottom-line  {
    background-image: url('../Images/line2.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.footer-two {
    background-image: url('../Images/footer2.jpg');
}

.footer-two {
    width: 100%;
    color: white !important;
}

.footer-container {
    width: 90%;
    margin-left: 5%;
}

.footer-sec-1 {
    display: flex;
    width: 100%;
}

.footer-part {
    display: flex;
}


.headings-bottom {
    font-family: 'Nunito', sans-serif;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.footer-para-about {
    font-family: 'Nunito', sans-serif;
    font-size:.9rem;
    margin-top: 1rem;
    /* width: 95%; */
    text-align: justify;
    text-indent: 4%;
}

.footer-item {
    width: 95%;

}

.footer-address-phone {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.footer-address {
    margin-top: 3rem;
}

.footer-phone-number {
    margin-top: .7rem;
}

.footer-email-address {
    margin-top: .7rem;
    padding-bottom: 1rem;
    
}

.fas10 {
    margin-right: .4rem;
}

.footer-navigation-nav {
    margin-top: .6rem;
}

.footer-navigation-nav>ul {
    list-style-type: none;
}

.footer-navigation-nav>ul>li>a {
    display: inline-block;
    padding: .5rem;
    color: white;
    text-decoration: none;
    font-family: 'Open sans', sans-serif;
}

.footer-navigation-nav>ul>li>a:hover {
    color: #fb6500;
}

.headings-bottom {
    margin-left: 6%;
    padding:0 1rem 0 .3rem;
    display: inline-block;
    border-bottom: 3px solid #fb6500;
}

.footer-para-about {
    padding: 0 1rem;
    box-sizing: border-box;
}

.form-footer {
    margin-top: 1.2rem;
    position: relative;
}

.form-footer>form>input, .form-footer>form>textarea {
    width: 80%;
    border-radius: 10px;
    display: block;
    padding: .8rem;
    text-indent: .5rem;
    border: none;
    outline:none;
    font-size: 1.1rem;
    margin-bottom: .6rem;
    font-family: 'Open sans', sans-serif;
    background: #565353;
    color: white;
}

.email-input, .message-footer {
    margin-left: 6%;
}

.message-footer {
    resize: none;
    height: 7rem;
}

.submit-footer-div {
    background-color: #c1b7b7;
    color:white;
    top: 9.7rem;
    font-size: 1.3rem;
    border-bottom-right-radius:10px;
    border-top-left-radius:10px;
    display: inline-block;
    position: absolute;
    cursor: pointer;
}

.submit-footer-div>input:hover {
    background-color: #fb6500;
}

.submit-footer-div>input {
    padding: .6rem 1.3rem;
    font-size: 1.2rem;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(54, 51, 51);
    background: #c1b7b7;
    font-weight: 700;
    outline: none;
    border: none;
}

.follow-us-bottom {
    margin-top: 2rem;
    font-family: 'Open sans', sans-serif;
}

.heading-follow-us {
    font-size: 1.4rem;
    margin-left: 2rem;
    display: inline-block;
    padding: 0 1rem 0 .4rem;
    border-bottom: 3px solid rgb(24, 163, 170);
}

.sm-links {
    margin-top: .4rem;
    color: white;
    margin-left: 5%;
    margin-bottom: 1rem;
}

.sm-links>a {
    padding: .5rem 1rem;
    margin-left: -5px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.frame-facebook-link {
    margin: 1.1rem 0 0 1rem;
}

.frame-facebook-link>iframe {
    width: 100%;
}

.copyright-info {
    font-size: .9rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 1.5rem .2rem;
    display: inline-block;
}

.payments {
    display: inline-block;
    margin-left: auto;
    float: right;
}

.payment-heading {
    display: inline-block;
    padding: 1.5rem .5rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}

.payment-fas {
    margin-left: .2rem;
}

.pay-images {
    display: inline-block;
    float: right;
}

.pay-images>a {
    margin-top: .2rem;
    padding: 1rem 0;
    display: inline-block;
}

.read-more-link {
    margin-top: 2rem;
    margin-left: 4rem;
}

